.directory
elpa/

ido.last
history
recentf
projectile-bookmarks.eld
smex-items
projectile.cache

.cache/
autosave/
auto-save-list/
backup/
desktop/emacs.desktop
desktop/lock
rust-playground/
snippets/
transient/
url/
var/
